<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="{{ base_url('') }}/"/>
    <link rel="shortcut icon" href="icons/favicon.ico">
    <title>{{ __('Sign in') }}</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/ie10-viewport-bug-workaround.js"></script>
    {{ assets({files: ['Login/login.css']}) }}
</head>
<body>
<div class="container">
    <form class="form-signin" method="POST" action="login">
        <h2 class="form-signin-heading">{{ __('Please sign in') }}</h2>
        <input type="text" name="username" class="form-control" placeholder="{{ __('Username') }}" autofocus>
        <input type="password" name="password" class="form-control" placeholder="{{ __('Password') }}">
        <!--<label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>-->
        <button id="btn_login" class="btn btn-lg btn-primary btn-block" type="submit">{{ __('Sign in') }}</button>
    </form>
</div>
</body>
</html>
