{% extends "Layout/layout.twig" %}

{% block content %}
    <div id="content" class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>{{ __('Users index') }}</h1>
                <ul>
                    {% for user in users %}
                        <li>
                            <i class="fas fa-user"></i>
                            <a href="{{ path_for('users.edit', {id: user.id}) }}">{{ user.username }} {{ user.firstName }}</a>
                        </li>
                    {% endfor %}
                </ul>
                {% if users|length > 1 %}
                    {{ users|length }} {{ __('Users') }}
                {% else %}
                    {{ users|length }} {{ __('User') }}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
